# Required. Create one at https://hyperserve.io/api-keys
HYPERSERVE_API_KEY=

# Optional. Only needed for the webhook step in the README.
# Create a webhook at https://hyperserve.io/webhooks and copy + paste the secret here
HYPERSERVE_WEBHOOK_SECRET=
